@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}
h1 {
	font-size: 60px;
}

div {
	display: inline-block;
	width: 33.3%;
	height: 360px;
	text-align: center;
	font-size: 40px;
	line-height: 250px;
	

}
#Bio {
	height: 360px;
	background-color: red;
	display: inline-block;
	
	
}


#picture {
	float: right;

	display: inline-block;
	background-color: yellow;
	right: 0%;

	

	
}
#Education {
	display: block;
	width: 33.3%;
	margin-left: 33%;
	background-color: darkkhaki;
}
#hobbies {
	background-color: darkorchid;
	
}
#Contact {
	background-color: green;
	right: 0%;
	float: right;
}
#Bio:hover{background-color: black}
#picture:hover{background-color: aqua}
#Education:hover{background-color: antiquewhite}
#hobbies:hover{background-color: darkgreen}
#Contact:hover{background-color: chartreuse}
